
main {
}

@font-face {
    font-family: "Montserrat-Bold", sans-serif;
    src: url("../fonts/Montserrat-Bold.ttf")
}

@font-face {
    font-family: "Lato-Regular", sans-serif;
    src: url("../fonts/Montserrat-Bold.ttf")
}

/************************ first-section BLOCK *********************/
.first-section {
    width: 1600px;
    height: 900px;
    background-image: url("../img/bg_section1.png");
    background-repeat: no-repeat;
}

.first-section .title {
    padding-left: 215px;
    padding-top: 531px;
}

.first-section .title h1 {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 48pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    text-transform: uppercase;
    margin: 0;
}

.first-section .title span {
    font-family: "Lato-Regular";
    font-size: 18pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}

.first-section .desc {
    width: 831px;
    height: 129px;
    background: rgba(0, 0, 0, 0.5);
    margin-left: 216px;
    margin-top: 50px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

.first-section .desc span {
    padding-left: 50px;
    padding-top: 50px;
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 40pt;
    text-transform: uppercase;
    text-align: left;
}

.first-section .desc span:nth-child(1) {
    color: rgba(244, 142, 11, 255);
}

.first-section .desc span:nth-child(2) {
    color: rgba(255, 255, 255, 255);
}

/************************ second-section BLOCK *********************/
.second-section {
    width: 1600px;
    height: 900px;
    background-image: url("../img/bg_section2.png");
    background-repeat: no-repeat;
}

.second-section .title {
    padding-top: 72px;
}

.second-section .title h1 {
    font-family: "Montserrat-Bold", sans-serif;
    font-size: 22pt;
    color: rgba(51, 51, 51, 255);
    text-align: center;
    text-transform: uppercase;
}

.second-section .title span {
    font-family: "Lato-Regular";
    font-size: 17pt;
    color: rgba(77, 73, 67, 255);
    text-align: center;
    margin-left: 300px;
}

.second-section .line {
    height: 3px;
    background-color: rgba(241, 173, 29, 255);
}

.second-section .first {
    width: 60px;
    margin: 52px auto 0;
}

.second-section .second {
    width: 1169px;
    margin: 30px 230px;
}

.second-section img {
    margin-left: 590px;
    margin-top: 60px;
}

.second-section nav img {
    margin-left: 0px;
    margin-top: 0px;
}

.second-section nav {
    margin-top: 115px;
    margin-left: 230px;
}

.second-section ui {
    margin-left: 260px;
}

.second-section li {
    list-style-type: none;
    display: inline;
    padding: 15px;
    font-family: "Lato-Regular";
    font-size: 18pt;
    color: rgba(61, 61, 61, 255);
}